.employeeCard {
    display: flex;
    width: 30%;
    border: 1px solid;
    margin-bottom: 20px;
    /*flex-wrap: wrap;*/
}

.employeeCard .avatar,
.employeeDetail .avatar {
    flex-basis: 35%;
}

.employeeCard .avatar {
    border-right: 1px solid;
}

.employeeDetail .avatar img {
    border: 1px solid;
}

.employeeCard .info,
.employeeDetail .info {
    flex-basis: 65%;
    padding-left: 10px;
}

.employeeDetailOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .7;
}

.employeeDetailModel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 65%;
    transform: translate(-50%, -50%);
}

.employeeDetail {
    background: white;
    height: calc(100% - 10%);
    border: 1px solid;
    padding: 20px;
    display: flex;
}

.closeModel {
  height: 10%;
  font-size: 2em;
  text-align: end;
}

.highlight {
    background: antiquewhite;
}

.info h2 {
  border-bottom: 1px solid;
}